.card {
    border: none;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);

    &-title {
        font-family: $font-family-base;
        color: $color-black;
    }

    button {
        border: none;
        height: 46px;
        background: linear-gradient(90deg, $color-primary 42%, $color-secondary 0 58%, $color-secondary 0) left/200% 100% no-repeat;
        transition: 0.3s;

        &:hover {
            background-position: right;
        }
    }
}

.btn-group button {
    border-color: $color-primary;
    color: $color-primary;
    background-color: white;
    height: 3em;
    width: 3.25em;

    &:hover, &.active {
        border-color: $color-primary;
        color: white;
        background-color: $color-primary;
    }
}