.nav {
    &-tabs {
        border: none;
    }

    &-tabs .nav-item .nav-link {
        width: 125px;
        text-align: center;
        border: none;
        color: $color-primary;
        font-size: 19px;
    }

    &-tabs .nav-item .active {
        background-color: white;
        color: $color-secondary;
    }
}

.tab {
    &-content {
        background-color: white;
        position: relative;
        top: -4px;
        z-index: -1;
        border-radius: 0.375rem;
        box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
    }

    &-content img {
        width: 100%;
        max-width: 350px;
    }
}